body {
	background-color:#eeeeee;
}

@font-face {
	font-family: "title font";
	src: url(assets/music.ttf);
}

.header {
	margin: auto;
	margin-top: 60px;
	text-align: center;
	width: 100%;
	font-size: 3.5em;
	font-family: 'title font', sans-serif;
	color: #000000;
}

.content {
	margin: auto;
	margin-top: 150px;
	width: 50%;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.15em;
	color: #000000;
}

.footer {
	padding-bottom: 15px;
	padding-top: 15px;
	margin-top: 100px;
	width: 100%;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.15em;
	color: #000000;
}

.apps {
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.app {
	
}

.app img {
	padding: 12px;
	height: 250px;
	width: auto;
}

a:link,
a:visited,
a:active, 
a:hover {
	color: #286dd4;
	text-decoration: none;
	font-weight: normal;
}


/*******************Devices*********************/

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 900px) {

.header img, .content {
	width: 90%;
}

}

@media screen and (max-width: 480px) {

.header img, .content {
	width: 90%;
}

}

@media screen and (max-height: 700px) {

.header img, .content {
	width: 90%;
}

}


